<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173408366216-tp7hmau4pc014qc4brpeagt23h832sil.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173408366216-tp7hmau4pc014qc4brpeagt23h832sil</string>
	<key>API_KEY</key>
	<string>AIzaSyC9XTUorvAkbO6s-AcP7IteT5P_njmLsXs</string>
	<key>GCM_SENDER_ID</key>
	<string>173408366216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taoquynh.AppQuiz</string>
	<key>PROJECT_ID</key>
	<string>appquizzes082019</string>
	<key>STORAGE_BUCKET</key>
	<string>appquizzes082019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173408366216:ios:a8c822ec11bd6490</string>
	<key>DATABASE_URL</key>
	<string>https://appquizzes082019.firebaseio.com</string>
</dict>
</plist>